#largeVideoWrapper {
    box-shadow: none;
}

.watermark, .toolbox-background, #videoResolutionLabel, div[role=alert], .videocontainer__hoverOverlay, .displayNameContainer, .vertical-filmstrip .subject {
    display: none !important;
}

#largeVideoWrapper {
    width: 100% !important;
    height: 540px !important;
    inset: 0 !important;
}

#largeVideo {
    object-fit: contain !important;
}

.filmstrip {
    display: none !important;
}

#remoteConnectionMessage { /* 帯域の警告など */
    display: none !important;
}